@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-grey: #707070;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
  --clr-green: #4fb646;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  background-color:rgba(20,20,20,0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  
  width:auto;
  max-height:100px;
  z-index:1;
  position:sticky;
  
  margin-top:0px;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(0,0,0,0.5);
  padding:0px;
}

.nav__brand img {
  width:300px;
 max-height:250;
  margin:100px 0px 0px 100px;
  padding-bottom:120px;
  border-radius:100px;
  
  z-index:-1;
  position:absolute;

}
.wel-img img{
  height:150px;
  width:250px;
}
.nav__brand h1 {
  color: var(--clr-blue);
  font-size: 2.5em;
  font-weight: 800;
  color:red;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  color:silver;
  list-style: none;
  margin-top:100px;
}

.nav__links li {
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  color:black;
  background:linear-gradient(to right,grey,white,grey);
  padding-top:1px;
  padding-bottom:3px;
  padding-right:10px;
  padding-left:10px;
  border-radius:2px;
  font-size:20px;
  margin-top:5px;
}

.nav__links li a:hover {
  font-weight:bolder;

}

.nav__connect {
  width:150px;
  height: 50px;
  margin-top:120px;
  margin-left:990px;
position:absolute;
  background:linear-gradient(to right,grey,white,grey);
  border:1px solid gold;
  color:black;

  border: none;
  border-radius:10px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover{
  background-color: var(--clr-blue-2);
  color:blue;
  font-weight:900;
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./assets/dubaiisland.jpeg");
  background-position: center;
  background-size: cover;
  height:120vh;
  filter:brightness(0.35);
  position:absolute;
  z-index: -1;
  margin-top:-400px;
  width:100vw;

  
}

.header__title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-10%, -10%);

  background:transparent;
  text-shadow:2px 0.5px white,-2px -1px black;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.header__search {
  padding: 25px;
  min-width: 45%;
  height:45px;
  position: absolute;
  left: 630px;
  transform: translate(-50%, -50%);
  border:solid 1px rgba(101, 108, 101, 0.4) ;
  border-radius: 10px;
  background-color:white;
  margin-top:450px;
  z-index:1;
  
}

.header__search::placeholder {
  font-family: "Open Sans";
  font-size:17px;
  font-weight: 600;
  color:black;
}

.header__search:hover {
  outline: 1px solid white;
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards__section h3 {
  margin: 50px 0 20px;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  width: 350px;
  height: 275px;

  border: 2px solid #62ff62;
  margin: 10px auto;
  border-radius:2px;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow:  5px 5px 12px #62ff62, -5px -5px 12px #62ff62;
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}

.card__image img {
  max-width: 100%;
  border-radius: 10px;
}

.card__info {
  width: 100%;
  height: 45%;

  background-color: var(--clr-black);
  color:silver;
  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.90em;
  margin-top: 5px;
}

/* ------------------------------------------------------ */
/* -- HOMES -- */

.home {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__details {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  align-items: center;

  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: var(--clr-white);
}

.home__image {
  max-width: 500px;
  margin: 20px auto;
}

.home__image img {
  max-width: 100%;
}

.home__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.home__close img {
  width: 25px;
  height: 25px;
}

.home__overview {
  height: 100%;
  margin: 0 20px;
  padding-right: 40px;

  overflow-y: scroll;
}

.home__overview h1,
.home__overview h2,
.home__overview hr {
  margin: 10px auto;
}

.home__overview ul {
  margin-left: 40px;
}

.home__buy,
.home__contact,
.home__owned {
  margin: 20px 5px;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.home__buy {
  width: 225px;
  height: 50px;
}

.home__buy:hover {
  background-color: var(--clr-blue-2);
}

.home__contact {
  width: 150px;
  height: 50px;

  background-color: transparent;
  color: var(--clr-blue);

  border: 1px solid var(--clr-blue);
}

.home__contact:hover {
  background-color: #f7f7f7;
  color: var(--clr-blue-2);
}

.home__owned {
  height: 50px;
  background-color: var(--clr-green);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }
}
.container{
  color:white;
}
.container{

    
  font-family: 'Poppins', sans-serif;
  background-color:white;
  transform: translate(-50%, -50%);
  position:absolute;
  left:140px;
 position:absolute;
  margin-bottom:-1000px;
}

.nav__brand,.container .animated-text {
  font-size:10px;
  font-weight:500;
  margin-top:10px;
  

color:black;
  background: linear-gradient(to right,grey, silver,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-text 2s infinite alternate-reverse ;
}

@keyframes animate-text {
  0% {
      transform: scale(0.5);
      opacity:0.5;
  }
  50% {
      transform: scale(0.9);
      opacity: 0.7;
  }
  100% {
      transform: scale(0.10);
      opacity:0.5;
  }
}
.header__search{
  position: relative;
  top:140px;
}